/* 폰트 시작 */

@font-face {
  font-family: 'BBTreeGB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'BBTreeGB';
}

/* 폰트 끝 */

/* 노말라이즈 시작 */

body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 노말라이즈 끝 */

/* 라이브러리 시작 */

.inline-grid {
  font-size: 0;
}

.inline-grid>* {
  font-size: 1rem;
  vertical-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.border-red {
  border: 2px solid red;
}

/* 라이브러리 끝 */

/* 커스텀 시작 */

/* 탑바 시작 */

.top-bar {
  color: rgba(64, 35, 42, 1)
}

.top-bar {
  background-color: rgba(203, 173, 150, 1);
}

.top-bar>div:first-child {
  width: 140px;
}

.top-bar>div:nth-child(2) {
  width: calc(100% - 140px - 560px);
}

.top-bar>div:last-child {
  width: 560px;
}

/* 탑바 끝 */

/* 탑바__로고 시작 */

.top-bar__logo {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  display: block;
}

/* 탑바__로고 끝 */

/* 탑바__우측 메뉴 시작 */

.top-bar__menu ul ul {
  background-color: rgba(203, 173, 150, 1);
}

.top-bar__menu ul>li {
  position: relative;
}

.top-bar__menu ul>li>a {
  font-weight: bold;
  font-size: 1rem;
  padding: 13px;
  display: block;
  white-space: nowrap;
}

.top-bar__menu ul>li:hover>a {
  color: rgba(230, 230, 230, 1);
  background-color: rgba(64, 35, 42, 1);
}

.top-bar__menu>ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
}

.top-bar__menu ul>li:hover>ul {
  display: block;
}

.top-bar__menu>ul ul ul {
  top: 0;
  left: auto;
  right: 100%;
}

/* 탑바__우측 메뉴 끝 */

/* 커스텀 끝 */